.link{
	color : blue;
	text-decoration: underline;
}
.login{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	box-shadow:0 8px 6px -6px black;
}
.ui.card.formCard{
	text-align: center;
}
.addGoal{
	margin-top: 10px;
	text-align: center;
}